$bg-color: red; 
// $rainbow: red orange yellow green blue indigo violet;

$sizeofheader: 28px;
$header-height: 150px;
$widthofbox: auto;

$index-container:0% 0% 0% 10%;


$color-yellow: yellow;
$color-red: #fa0065;
$color-white: white;
$color-blue: #3897cc;
$color-green: green;

$rainbow-red: #ffccd4;
$rainbow-orange: #ffeecc;
$rainbow-yellow: #fdffcc;
$rainbow-green: #ddffcc;
$rainbow-blue: #ccdeff;


$header-color: $color-yellow;
$link-color: $color-red;
$hoverover-color: $color-white;

$sizeofbox: 17px 0px 15px 0px;
$boxboarder: solid $color-white 2px;

$first-child-corners:22px 22px 0px 0px;
$last-child-corners:0px 0px 22px 22px;
